---
import { getCollection } from "astro:content";
import { useTranslations } from "../../i18n/useTranslations";
import bio from "../../data/bio.json";
import { languages } from "../../i18n/ui";
import SectionCard from "../layouts/SectionCard.astro";
import SubSection from "../layouts/SubSection.astro";
import NotFoundMessage from "../ui/NotFoundMessage.astro";

const locale = Astro.currentLocale ?? "en";
const tools = await getCollection("tools");
const t = useTranslations(locale);
---

<SectionCard>
  <div class="flex flex-col items-center lg:flex-row gap-6">
    <div class="space-y-4">
      <h1
        class="font-bold text-2xl text-foreground"
        set:html={locale === "en" ? bio.en.heading : bio.ru.heading}
      />
      <p class="text-foreground text-xl">
        {locale === "en" ? bio.en.body : bio.ru.body}
      </p>
    </div>
  </div>

  <SubSection title={t("home.hero")["stack"]}>
    {
      tools && tools.length > 0 ? (
        tools
          .filter((tool: any) => !tool.data.hidden)
          .map((tool) => {
            return (
              <li class="text-foreground text-lg">
                <a
                  set:html={tool.data.icon}
                  href={tool.data.tool_url}
                  class="flex flex-row-reverse justify-center items-center gap-2 border-border p-2 rounded hover:border-primary border-2 transition-colors"
                >
                  <span>{tool.data.title}</span>
                </a>
              </li>
            );
          })
      ) : (
        <NotFoundMessage />
      )
    }
  </SubSection>

  <SubSection title={t("home.hero")["langs"]}>
    {
      bio[locale as keyof typeof languages].langs?.map((lang) => {
        return (
          <li class="text-foreground font-bold p-2 bg-accent rounded text-lg">
            <span class="text-primary">{lang.lang}</span> ({lang.level})
          </li>
        );
      })
    }
  </SubSection>
</SectionCard>
